extends ../layout/layout.pug

include ../components/button.pug
include ../components/link.pug
include ../components/inputText.pug
include ../layout/header.pug

block header
  +Header(logged)

block title
  title Remasked | Login

block content
  div.auth-container
    h1.auth-title Sign in

    div.auth-inputs
      p.auth-warning

      +InputText("Username", "username", "text", "username")
      +InputText("Password", "password", "password", "password")

      +Link("/recover")
        p.auth-text Forgot password?

      div.auth-actions
        +Button("Login", "authLogin()", "ok")

        +Link("/register")
          +Button("Create account")