extends ../layout/layout.pug

include ../components/button.pug
include ../components/link.pug
include ../components/inputText.pug
include ../layout/header.pug

block header
  +Header(logged)

block title
  title Recover | remasked

block content
  div.auth-container
    h1.auth-title Recover your account
    div.auth-inputs
      
      +InputText("Your email", "email", "email", "email")

      div.auth-actions
        +Button("Send recover email", "authRecover()")

        +Link("/register")
          +Button("Create new account?")

      p.auth-note Note: You can recover your account only if you have an email associated with it.