extends ../layout/layout.pug

include ../components/button.pug
include ../components/link.pug
include ../layout/header.pug

block header
  +Header(logged)

block title
  title Remasked | Register

block content
  div.auth-top
    h1 Register
    div.auth-container
      div.auth-input-container
        p.input-text Username
        input#username.auth-input(type="text", name="username")
        p.input-text Email(optional)
        input#email.auth-input(type="email", name="email")
        p.input-text Password
        input#password.auth-input(type="password", name="password")
        p.input-text Confirm password
        input#confirm-password.auth-input(type="password", name="confirmPassword")

      div.auth-actions
        +Button("Register", "authRegister()")

        +Link("/login")
          +Button("Already have an account?")