extends ../layout/layout.pug

include ../components/button.pug
include ../components/link.pug
include ../components/inputText.pug
include ../layout/header.pug

block header
  +Header(logged)

block title
  title Remasked | Register

block content
  div.auth-container
    h1.auth-title Register

    div.auth-inputs
      p.auth-warning
      
      +InputText("Username", "username", "text", "username")
      +InputText("Email(optional)", "email", "email", "email")
      +InputText("Password", "password", "password", "password")
      +InputText("Confirm Password", "confirm-password", "password", "confirmPassword")
    
      div.auth-actions
        +Button("Register", "authRegister()")

        +Link("/login")
          +Button("Already have an account?")