extends ../layout/layout.pug

include ../components/button.pug
include ../components/link.pug
include ../components/inputText.pug
include ../components/checkbox.pug
include ../layout/header.pug

block header
  +Header(logged)

block title
  title Register | remasked

block content
  div.auth-container
    h1.auth-title Register

    div.auth-inputs
      p.auth-warning
      
      +InputText("Username", "username", "text", "username")
      //- +InputText("Email(optional)", "email", "email", "email")
      +InputText("Password", "password", "password", "password")
      +InputText("Confirm Password", "confirm-password", "password", "confirmPassword")
      
      div.footer-info
        div.footer-info-item 
          +Checkbox("", "auth-user-agrees")
          p I agree read and agreed to <span><a class="auth-agree" href="/terms-of-use">Terms of Use</a></span> and <span><a class="auth-agree" href="/privacy-policy">Privacy Policy</a></span>.
    
      div.auth-actions
        +Button("Register", "authRegister()", "success")

        +Link("/login")
          +Button("Already have an account?")