extends ../layout/layout.pug

include ../layout/header.pug
include ../components/community.pug

block header
  +Header(logged)

block title
  title Remasked | Your communities

block content
  h1 Your communities
  if communities
    each community in communities
      +Community(community)

  if (error)
    h1 #{error}