extends ../layout/layout.pug

include ../layout/header.pug

block header
  +Header(logged)

block title
  //- TODO: if another profile change the title
  if (you)
    title Remasked | Your profile
  else
    title Remasked | #{name} profile

block content
  h1 This is #{you ? "your" : name} profile