extends ../layout/layout.pug

include ../components/button.pug
include ../components/inputText.pug
include ../layout/header.pug

block header
  +Header(logged)

block title
  title Remasked | Submit

block content
  div.submit-container
    h1.submit-title Submit a post in #{community}

    div.submit-box
      p.submit-warning 
      
      +InputText("Title", "title", "text", "title")
      
      p Post type
      div.submit-type-buttons-container
        +Button("Link", "changeToLink()", null, "link-button")
        +Button("Text", "changeToText()", null, "text-button")

      div(style="width: 128px;")
        +InputText("Flag", "flag", "text", "flag")

      +InputText("Link", "link", "text", "link")

      p.input-text-label Text
      textarea#content.input-textarea(placeholder="Your text here...", disabled="disabled")

      div.submit-textarea-buttons-container
        +Button("Submit", `submitPost('${community}')`)