@import "../shared/constants.scss";

.reply-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: $main;
  padding: 0 6px 6px 6px;
  // border: 1px solid black;
  grid-column: 1/2;
  box-shadow: $shadow-normal;
  margin: 6px;
  border-radius: $radius-normal;
}

.reply-textarea-buttons-container {
  display: flex;
  align-items: center;
  margin: -6px;
}