extends layout/layout.pug

include components/button.pug
include components/link.pug
include components/icon.pug

block title
  title Remasked

block content
  h1 This is cool
  +Button("add", "test1")
  +Button("delete", "test2")

  h2 This is a link
  +Link("https://google.com", "text link")

  h2 This is an icon
  +Icon("/static/assets/icons/bell.svg", "bell")
  +Link("https://google.com")
    +Icon("/static/assets/icons/bell.svg", "bell")