extends layout/layout.pug

include components/button.pug
include components/link.pug
include components/post.pug
include components/community.pug
include layout/header.pug

block header
  +Header(logged)

block title
  title remasked

block content
  div.profile-buttons
    +Link(`/?sort=popular`)
      +Button("Popular")
    //- +Link(`/?sort=top`)
    //-   +Button("Top")
    +Link(`/?sort=newest`)
      +Button("Newest")
    +Link(`/?sort=oldest`)
      +Button("Oldest")
    +Link(`/?sort=shuffle`)
      +Button("Shuffle")
    //- +Link(`/?sort=most-upvoted`)
    //-   +Button("Most upvoted")
    //- +Link(`/?sort=most-downvoted`)
    //-   +Button("Most downvoted")

  if posts
    each post in posts
      +Post(post, {type: post.type, flag: post.flag, view: "min", community: true})

  div.pagination-container
    +Button("back", "back('')")
    +Button("next", "next('')", "accent")

  h1 Explore new communities
  //- later add communities sorting and pagination

  if communities
    div.communities-container
      each community in communities
        +Community(community)

  div.index-create-container
    h1 Something is missing?
    div(style="max-width: 312px;")
      +Link(`/create`)
        +Button("Create your own community")