extends layout/layout.pug

include components/button.pug
include components/link.pug

block title
  title remasked

block content
  h1 This is cool
  +Button("hey", "test")

  h2 This is a link
  +Link("go", "https://google.com")