extends ../layout/layout.pug

include ../layout/header.pug

block header
  +Header(logged)

block title
  title About | remasked

block content
  h1 What is remasked?
  p Remasked is a semi-anonymous content aggregator focused on privacy which will never use trackers, sell your data or display ads. The main goal of the platform is to create a space where free speech is a core value while allowing content moderation. We want to achieve this by allowing users to bypass moderation easily if they want. Also another cool feature is the 'quick throwaway' which will allow an user to hide the username when they post/comment if they want to engage in controversial/personal/whatever discussions.

  h1 You are in control of your content
  p Remasked believes that the only person which has the right to delete your posts/comments is you. While moderation on the website will be allowed, moderators will be able to only hide your post/comment. Every user will be able to bypass that if they wish by just pressing a button. Also when you delete your account everything is deleted from our database with no way of getting that information back, this means that you can completely disappear from the platform if you want.

  h1 Transparency
  p I really like the idea of showing the development process to the public so I'll try my best to keep you updated by posting blogs at <a class="post-info-text-goto" href="/c/blog">/c/blog</a> and discussing about user growth/financial stuff/etc on <a class="post-info-text-goto" href="/c/reports">/c/reports</a>.
  p Also I plan to open source the project in a few weeks after I clean the code.

  h1 Roadmap
  p My main focus at the moment is on:
  ol(style="margin-top: 0px;")
    li Mobile website
    li Mobile app for both Andoroid and iOS
    li Website and app enhancements - dark theme, account recover, password reset, etc

  h1 Features which will be added
  ul(style="margin-top: 0px;")
   li Notifications/Messages
   li Reminders
   li Watch a post/comment
   li Timers/Countdowns
   li Polls
   li And much more

  h1 Development and money
  p Remasked is being developed by only one person. I do everything from the front-end, back-end to deployment so some features might take a while to be finished. On the money side the situation isn't that good, as I said earlier remasked will never show ads - the reason is that I find most of them intrusive - so the only source of income will be donations and in the future the paid memberships which will have some cool perks. Depending on the website growth I'll announce more about this is the future, at the moment the entire project will be funded by me.