extends ../layout/layout.pug

include ../layout/header.pug

block header
  +Header(logged)

block title
  title Contact | remasked

block content
  h1 Contact
  p If you have any questions you can send me an email: <a href="mailto:lionel.developer72@gmail.com" target="_top">lionel.developer72@gmail.com</a>.
  p Also if you are looking for a web/mobile developer feel free to send me an email and we'll discuss further.