extends ../layout/layout.pug

include ../layout/header.pug

block header
  +Header(logged)

block title
  title Donate | remasked

block content
  h1 Want to support the project?
  h2 You can donate using crypto:
  p ETH: 0xde9bb56f57e5ed87349de6ecf393c681c7b908cb
  p BTC: 1MXb8Yyb1FfBosGfxF6S1EGeM49rkUHm9k
  h2 If you have any questions please <a class="post-info-text-goto" href="/contact">contact me here</a>.