extends ../layout/layout.pug

include ../layout/header.pug

block header
  +Header(logged)

block title
  title Privacy Policy | remasked

block content
  h1 Privacy Policy
  p The privacy of our visitors and users is extremly important to us and it's a core feature of remasked. This privacy policy document describes in detail the types of personal information which is collected and recorded by remasked and how we use it. If you require any more information or have any questions about our privacy policy, please feel free to contact us by email support@remasked.com.

  h1 Cookies
  p Remasked only uses session cookies which do not collect information from the user. They are used to store information in the form of a session identification that does not personally identify the user.

  h1 Third Party Privacy Policies
  p Remasked does not use any third party services which collect information about you.

  h1 The Right to be Forgotten
  p When you delete/edit a post or comment on remasked the old content is completely deleted from our servers. The same is true when you delete your account, every single post, comment, vote, subscription, etc is deleted with no way of recovering that information.

  h1 Consent
  p By using our website, you hereby consent to our privacy policy and agree to its terms.

  h1 Update
  p This Privacy Policy was last updated on 15 May 2019. If any changes are made we'll update this document. This Privacy Policy is effective as of 15 May 2019.