extends ../layout/layout.pug

include ../layout/header.pug

block header
  +Header(logged)

block title
  title Terms of Use | remasked

block content
  h1 Terms of Use
  p This agreement is a legal contract between you and us. You acknowledge that you have read, understood, and agree to be bound by the terms of this agreement. If you do not agree to this agreement, you should not use remasked.

  h1 Your access to remasked
  p Without advance notice and at any time, we may, for violations of this agreement or for any other reason we choose:
  ol(style="margin-top: 0px;")
    li suspend your access to remasked
    li suspend or terminate Your Account
    li remove any of your User Content from remasked.

  h1 Children
  p Remasked is not directed at people under the age of 13, and remasked does not knowingly collect any personal information from such people. If you know that a user under the age of 13 is accessing remasked, please contact us by sending an email support@remasked.com.

  h1 Remasked is for your personal use
  p Remasked is designed and supported for personal use only. You may not use remasked to break the law, violate an individual's privacy, or infringe any person or entity’s intellectual property or any other proprietary rights. We are not responsible for any decisions you make based on something you read on remasked.

  h1 Your remasked account
  p To participate on remasked, you must create an account that includes a username and password. You are solely responsible for the information associated with Your Account and anything that happens related to Your Account. You may not license, transfer, sell, or assign Your Account without our written approval.

  h1 Content
  p You retain the rights to your copyrighted content or information that you submit to remasked ("user content") except as described below.
  p By submitting user content to remasked, you grant us a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to authorize others to do so. You agree that you have the right to submit anything you post, and that your user content does not violate the copyright, trademark, trade secret or any other personal or proprietary right of any other party. We take no responsibility for, we do not expressly or implicitly endorse, and we do not assume any liability for any user content submitted by you to remasked.

  h1 Links
  p Remasked is a place with many third-party hyperlinks posted by users. We are not responsible for the content or actions of any third party websites or services associated with posted links. You agree to take sole legal responsibility for any links you post, and neither this agreement nor our privacy policy applies to any content on other websites related to those links.

  h1 Respect other users
  p You may not purposefully negate any user actions to delete or edit their content on remasked. This is intended to respect the privacy of remasked users who delete or edit their content.

  h1 DMCA
  p We will respond to legitimate requests under the Digital Millennium Copyright Act ("DMCA"), and we retain the right to remove user content on remasked that we deem to be infringing the copyright of others. If you become aware of user content on remasked that infringes your copyright rights, you may submit a properly formatted DMCA request.

  h1 Indemnity
  p All the things you do and all the information you submit or post to remasked remain your responsibility.
  p Specifically, you agree to hold remasked, its affiliates, officers, directors, employees, agents, and third party service providers harmless from and defend them against any claims, costs, damages, losses, expenses, and any other liabilities, including attorneys’ fees and costs, arising out of or related to your access to or use of remasked, your violation of this user agreement, and/or your violation of the rights of any third party or person.

  h1 Disclaimer of warranties
  p Remasked is provided "as is" and without warranty of any kind. You are solely responsible for any damage to your computer or mobile device, loss of use, or loss of your user content. We do not guarantee that remasked will always work properly.

  h1 Limitation of liability
  p We will not be liable for any special, consequential, indirect, incidental, punitive, reliance, or exemplary damages, whether in tort, contract, or any other legal theory, arising out of or in any way connected with this agreement or your use of or attempt to use remasked, including (but not limited to) damages for loss of profits, goodwill, use, or data. This limitation on liability shall not be affected even if we have been advised of the possibility of such damages.

  h1 Updates
  p This document was last updated on 15 May 2019. If any changes are made we'll update this document. This user agreement is effective as of 15 May 2019.