extends ../../layout/layout.pug

include ../../components/post.pug
include ../../components/meta.pug
include ../../layout/header.pug

block header
  +Header(logged)

block title
  title Remasked | #{name}

block content
  div.c-container
    +Meta(name, subscribers, created, createdby, owns, subscribed, metaRaw, meta)
    each post in posts
      //- I need a better way to do this!
      //- TITLE, OWNER OWNS, SAVED, COMMUNITY, REF, CREATED, EDITED, DELETED, C_AMOUNT, LINK, C_RAW, CONTENT, VOTES, VOTED
      +Post(post, {type: post.type, flag: post.flag, view: "min", community: true})
    
  div.test
    p Load more

  script.
    var meta = document.getElementById("meta-container");
    var posts = document.getElementsByClassName("post-container");
    var fitPosts = Math.ceil(meta.clientHeight / 76);

    meta.style.gridRow = "1/".concat(fitPosts + 1);
    for (var i = 0; i < posts.length; i++) {
      if (i >= fitPosts) {
        posts[i].style.gridColumn = "1/3";
      }
    }