extends ../../layout/layout.pug

include ../../components/post.pug
include ../../components/reply.pug
include ../../components/comment.pug
include ../../layout/header.pug

block header
  +Header(logged, null, null, community)

block title
  title #{title} | remasked

block content
  //- this one works ok
  //- TITLE, OWNER OWNS, SAVED, COMMUNITY, REF, CREATED, EDITED, DELETED, C_AMOUNT, LINK, C_RAW, CONTENT, VOTES, VOTED
  +Post({title, owner, owns, saved, community, ref, created, edited, deleted, throwaway, commentsAmount, link, contentRaw, content, votes, voted}, {type: type, flag: flag, view: "max", community: true})

  +Reply(ref)
  each comment in comments
    +Comment(comment)