extends ../../layout/layout.pug

include ../../components/post.pug
include ../../components/reply.pug
include ../../components/comment.pug
include ../../layout/header.pug

block header
  +Header(logged)

block title
  title #{title} | remasked

block content
  +Post({title: title, owner: owner, owns: owns, community: community, ref: ref, created: created, commentsAmount: commentsAmount, link: link, contentRaw: contentRaw, content: content, votes: votes, voted: voted}, {type: type, flag: flag, view: "max", community: true})
  +Reply(ref)
  each comment in comments
    +Comment(comment)