extends ../../layout/layout.pug

include ../../components/post.pug
include ../../components/reply.pug
include ../../components/comment.pug

block title
  title Remasked | #{title}

block content
  +Post({title: title, owner: "ionel", community: "pretty_earth", date: "2.2.2019", commentsAmount: 10, upvotes: 123, downvotes: 56, source: "https://i.ytimg.com/vi/tog3dRQxENs/maxresdefault.jpg"}, {type: "photo", flag: null, view: "max", community: false})
  +Reply()
  each comment in comments
    +Comment(comment)