nav {
  background-color: #fff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.075);
  margin-bottom: 12px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 10px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-new-container {
  display: flex;
  background: white;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: absolute;
  position: relative;
  left: 40px;
  top: -9px;
  align-items: center;
  justify-content: center;
  z-index: 3;
  
}

.nav-new-text {
  font-size: 0.7em;
  color: #FF7E38;
}

@media all and (max-width: 479px) {
  .nav-container {
      justify-content: space-around;
    }
}