include ../components/button.pug
include ../components/link.pug

footer
  div.footer-container
    div.footer-items
      +Link("/about")
        +Button("about")

      +Link("/contact")
        +Button("contact")

      //- +Link("/apps")
      //-   +Button("apps")

      +Link("/donate")
        +Button("donate")

    div.footer-info
      p By using this website you agree to our <span><a class="auth-agree" href="/terms-of-use">Terms of Use</a></span> and <span><a class="auth-agree" href="/privacy-policy">Privacy Policy</a></span>.
  
    div.footer-info
      p.footer-info-item &copy; 2019 remasked.com All rights reserved.

