include ../components/link.pug
include ../components/icon.pug

mixin Header(logged)
  nav
    div.nav-container
      +Link("/")
        img(src="/static/assets/logo13.png", alt="logo", style="height: 32px; width: 32px; margin: 8px;")

      ul.nav-items
        li.nav-item
          +Link("/profile")
            +Icon("/static/assets/icons/user.svg", "profile", null, "margin-left: 8px")

        li.nav-item
          +Link("/communities")
            +Icon("/static/assets/icons/list.svg", "communities", null, "margin-left: 8px")

        li.nav-item
          +Link("/messages")
            +Icon("/static/assets/icons/mail.svg", "messages", null, "margin-left: 8px")

        li.nav-item
          +Link("/notifications")
            +Icon("/static/assets/icons/bell.svg", "notifications", null, "margin-left: 8px")

        li.nav-item
          +Link("/settings")
            +Icon("/static/assets/icons/settings.svg", "settings", null, "margin-left: 8px")

        li.nav-item
          +Link(logged ? "/logout" : "/login")
            +Icon(logged ? "/static/assets/icons/log-out.svg" : "/static/assets/icons/log-in.svg", "logout", "authLogout()", "margin-left: 8px")