doctype html
html
  head
    block title
    link(rel="shortcut icon" type="image/png" href="/static/assets/logo13.png")
    link(rel="stylesheet", href="/static/styles/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    block header

    div.global-container
      block content

    include footer.pug
    script(src="/static/scripts/app.js")