doctype html
html
  head
    block title
    link(rel="stylesheet", href="/static/styles/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
    script(src="/static/scripts/app.js")

  body
    include header.pug
    block content
    include footer.pug