// COLORS
$main: #54d8eb;
$secondary: #ea8dfe;
$warning: #EA2C3F;

// BORDER RADIUS
$xsmall: 2px;
$small: 4px;
$r-normal: 8px;
$large: 12px;

// SHADOW
$light: 0px 0px 16px rgba(0, 0, 0, 0.1);

// TRANSFORM


// TRANSITION
