// colors
$main: #009ec5;
$accent: #ff8644;

$error: #f3453e;
$warning: #ff904f;
$success: #10bc10;

// shadow
$shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.08);
$shadow-normal: 0px 0px 16px rgba(0, 0, 0, 0.1);
$shadow-dark: 0;
$shadow-up: 0;

// border radius
$radius-small: 4px;
$radius-normal: 8px;
$radius-large: 12px;