@import "../constants/index.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 8px;
  padding: 4px 16px;
  border: none;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-size: 0.9em;
  box-shadow: $light;
  transition: all 0.2s ease-in;
  border: 1px solid white;
}

.button:hover {
  border: 1px solid #FF7E38;
}

.ok:hover {
  border: 1px solid #54D8EB;
}

.selected {
  border: 1px solid #54D8EB !important;
}

.button-label {
  font-size: 1.2em;
  color: #000;
}