@import "../shared/constants.scss";

.comment-container {
  background-color: #fff;
  border-radius: $radius-normal;
  // the order for these things matters for some reason...
  padding: 4px;
  margin: 6px;
  transition: all 0.15s ease-out;
  padding-left: 24px;
  box-shadow: $shadow-normal;
}

.comment-container:hover {
  background-color: rgba(127, 232, 244, 0.05) !important;
  transition: all 0.15s ease-in;
}

.comment-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reply-container ~ .comment-container {
  margin: 6px;
}

.comment-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 4px;
  margin: 0 0 auto -24px;
}

.comment-votes-amount {
  margin: 0;
}

.comment-main {

}

.comment-info {
  display: flex;
  align-items: center;
}

.comment-deleted {
  font-style: italic;
  color: $error;
}

.comment-edited {
  font-style: italic;
}

.comment-info-text-container {
  display: flex;
  flex-direction: row;
}

.comment-info-text-goto {
  cursor: pointer;
  display: inline;
  margin: 0;
  color: $main;
}

.comment-info-text-goto:hover {
  color: $accent;
}

.comment-info-text {

}

.comment-throwaway-user {
  color: $main;
}

.comment-text {
  margin: 4px;
}

.comment-info-actions-container {
  display: flex;
  align-items: center;
}

.comment-info-text-actions {
  cursor: pointer;
  display: inline;
  margin: 0;
  color: #000;
}

.comment-info-text-actions:hover {
  color: $accent;
}

.comment-reply {
  margin-top: 8px;
  display: none;
}

.comment-textarea-buttons-container {
  display: flex;
  flex-direction: row;
  margin: -4px 0 2px -6px;
}

p > img {
  max-width: 256px;
  height: auto;
}