@import "../shared/constants.scss";

#meta-container {
  grid-column-start: 2;
  grid-column-end: 2;
  height: auto;

  padding: 8px;
  // border: 1px solid black;
  box-shadow: $shadow-normal;
  margin: 6px;
  border-radius: $radius-normal;
}

.meta-text {

}

.meta-description {
  margin: 12px 0;
}