@import "../shared/constants.scss";

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/2;
  box-shadow: $shadow-normal;
  border-radius: $radius-normal;
  padding: 2px;
  margin: 6px;
}

.post-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// post votes section
.post-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 4px;
}

.post-votes-amount {
  margin: 0;
}

// post preview section
.post-small-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
}

.post-small-preview-image {
  max-width: 96px;
  max-height: 64px;
  border-radius: $radius-normal;
}

.post-large-preview {
  display: none;
}

.post-large-preview-image {
  height: 100%;
  width: 100%;
  margin-top: 4px;
}

// post info section
.post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4px;
}

.post-deleted {
  font-style: italic;
  color: $error;
}

.post-edited {
  font-style: italic;
}

.post-info-text-actions {
  cursor: pointer;
  display: inline;
  margin: 0;
  color: #000;
}

.post-info-text-actions:hover {
  color: $accent;
}

.post-throwaway-user {
  color: $main;
}

.post-info-text-goto {
  cursor: pointer;
  display: inline;
  margin: 0;
  color: $main;
}

.post-info-text-goto:hover {
  color: $accent;
}

.post-info-actions-container {
  display: flex;
  align-items: center;
}

.post-info-text {
  display: inline;
  margin: 0;
  color: #000;
}

.post-info-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: 800;
}

.post-info-link:hover {
  color: $accent;
  cursor: pointer;
}

.post-flag {
  color: $error;
}

.post-save {
  height: 64px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-textarea-buttons-container {
  display: flex;
  flex-direction: row;
  margin: -8px -6px;
}

@media all and (max-width: 599px) {
  .post-small-preview-image {
    max-width: 64px;
    max-height: 44px;
  }
}