// shared
@import "shared/constants.scss";
@import "shared/auth.scss";
@import "shared/common.scss";

// components
@import "components/button.scss";
@import "components/icon.scss";
@import "components/input-text.scss";
@import "components/checkbox.scss";

@import "components/notification.scss";
@import "components/options.scss";

@import "components/post.scss";
@import "components/comment.scss";
@import "components/meta.scss";
@import "components/community.scss";

// layout
@import "layout/navbar.scss";
@import "layout/footer.scss";

// misc
@import "misc/submit.scss";
@import "misc/reply.scss";
@import "misc/profile.scss";
@import "misc/settings.scss";


// Page style - global
html, body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.global-container {
  display: grid;
  padding-top: 56px;
  width: 90%;
  margin: 0 auto;
  min-height: 70vh;
}

// Misc styles
.c-container {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

.index-create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// both for posts and comments
#delete-confirm:hover, #throwaway-confirm:hover {
  color: $success;
}

#delete-cancel:hover, #throwaway-cancel:hover {
  color: $error;
}

// nav
.pagination-container {
  display: flex;
  width: 100%;
}

.communities-container {
  display: grid; 
  grid-template-columns: repeat(5, 20%);
}

@media all and (min-width:1200px){
  .global-container {
    width: 90%;
  }
}

@media all and (min-width: 960px) and (max-width: 1199px) {
  .global-container {
    width: 90%;
  }

  .communities-container {
    grid-template-columns: repeat(4, 25%);
  }
}

@media all and (min-width: 768px) and (max-width: 959px) {
  .global-container {
    width: 90%;
  }

  .communities-container {
    grid-template-columns: repeat(3, 33.33%);
  }
}

@media all and (min-width: 480px) and (max-width: 767px){
  .global-container {
    width: 95%;
  }

  .c-container {
    display: block;
  }

  .communities-container {
    grid-template-columns: repeat(2, 50%);
  }
}

@media all and (max-width: 599px) {
  .global-container {
    width: 95%;
  }

  .c-container {
    display: block;
  }

  .communities-container {
    grid-template-columns: repeat(2, 50%);
  }
}

@media all and (max-width: 479px) {
  .global-container {
    width: 98%;
  }

  .c-container {
    display: block;
  }

  .communities-container {
    grid-template-columns: 100%;
  }
}