// Components style
@import "components/button.scss";
@import "components/icon.scss";

@import "components/post.scss";
@import "components/comment.scss";
@import "components/reply.scss";
@import "components/meta.scss";

// Layout style
@import "layout/navbar.scss";
@import "layout/footer.scss";

// Page style - global
html, body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.global-container {
  padding-top: 64px;
  width: 90%;
  margin: 0 auto;
}

// Misc styles
.c-container {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.test {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: $main;
  padding: 2px;
  // border: 1px solid black;
  grid-column: 1/2;
  box-shadow: $light;
  margin: 6px;
  border-radius: $r-normal;
}