// Components style
@import "components/button.scss";
@import "components/icon.scss";

// Layout style
@import "layout/navbar.scss";
@import "layout/footer.scss";

// Page style

html, body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}